<!-- Logo -->
<aside id="logo" class="clearfix">
  <div class="clearfix">
    <a href="{{ root_url}}/">{{ site.title }}</a>
  </div>
</aside>

<ul id="menu">
{% if site.title %}
  <li class="title">
    <h1 id="title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  </li>
{% endif %}
{% if site.subtitle %}
  <li class="subtitle">
    <h2 id="subtitle">{{ site.subtitle }}</h2>
  </li>
{% endif %}
  <li class="link">
    <strong>About Claudia Doppioslash</strong>
    <br /><em>Mind Contortionist and Bit Enchantress.</em>
    <br />A polyglot developer language hopping through Mobile, Games and Functional programming.
  </li>
 {% if site.googleplus_user %}
  <li>
    <g:plus style="float: left;" width="100" href="https://plus.google.com/{{ site.googleplus_user }}" rel="author"></g:plus>
  {% endif %}
  {% if site.twitter_user %}
  </li>
  {% endif %}
  <li>
    {% include asides/twitter.html %}
  </li>
  <li class="link rss">
    <a href="/atom.xml">rss feed</a>
  </li>
</ul>

{% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}
<!-- Octopress Love -->
<aside id="octopress_linkback">
  <a href="http://octopress.org/">
    <span class="unicode_square">
      <span class="unicode_circle">
        &nbsp;
      </span>
    </span>
    <span class="octopress">Powered by Octopress</span>
  </a>
</aside>


